In [18]:
from faker import Faker

fake = Faker()
range_value = 100

name = [fake.name() for i in range(range_value)]
name[:5]

['Alexander Graham',
 'Joseph Austin',
 'Mary Perez',
 'Cassandra Butler',
 'Pedro Gallagher']

In [19]:
rating = [fake.pyint(min_value=0,max_value=10) for i in range(range_value)]
rating[:5]

[1, 3, 3, 8, 2]

In [20]:
region = [fake.country() for i in range(range_value)]
region[:5]

['Israel', "Lao People's Democratic Republic", 'Panama', 'Moldova', 'Maldives']

## Persisting data


From: python -m pip install mysql-connector-python

In [ ]:
#Dictionary from values
dict_rating = {
    'name': name,
    'rating':rating,
    'region':region
}

In [41]:
columns = ",".join(dict_rating.keys())
placeholder = ", ".join(["%s"] * len(dict_rating))
sql = f"INSERT INTO ratings ({columns}) VALUES ({placeholder})"

sql

'INSERT INTO ratings (name,rating,region) VALUES (%s, %s, %s)'

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root123",
  database="ratings"
)

In [43]:

mycursor = mydb.cursor()

for i in range(range_value):
    mycursor.execute(sql,[name[i],rating[i],region[i]])

mydb.commit()
print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [44]:
data = {
    'name':name,
    'rating':rating,
    'region':region
}

mycursor.execute(sql, tuple(data.values()))

MySQLInterfaceError: Python type list cannot be converted